.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
    justify-items: center;
    margin: 0 auto 64px;
    max-width: 1184px;
}

@media screen and (min-width: 767px) {
    .main {
        gap: 89px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1023px) {
    .main {
        gap: 92px;
        margin-bottom: 90px;
    }
}