.lead__title {
    font-size: calc(40px + 56 * (100vw - 320px) / 448);
    font-weight: 900;
    line-height: calc(44px + 56 * (100vw - 320px) / 448);
    text-align: center;
    margin: 0;
    margin-bottom: 14px;
    max-width: 720px;
}

@media (min-width: 767px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        margin-bottom: 30px;
    } 
}