.intro {
    width: calc(100% - 16px * 2);
}

@media (min-width: 768px) {
    .intro {
        width: calc(100% - 24px * 2);
    }
}

@media (min-width: 1024px) {
    .intro {
        width: calc(100% - 48px * 2);
        max-width: 984px;
    } 
}